
<main>
  <section class="hero" role="banner">
      <div class="hero-content">
          <h1>{{ servizio }} per Anziani in provincia di Lecce</h1>
          <p [innerHTML]="contenuto"></p>
          <div class="hero-buttons">
              <a routerLink="/servizi" class="button" aria-label="Scopri i nostri servizi di assistenza">Scopri i nostri
                  servizi  <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
              <a href="#contact" class="button" aria-label="Contattaci per maggiori informazioni">Contattaci</a>
          </div>
      </div>
  </section>