
.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
    max-width: 800px;
    margin: 0 auto;
    gap: 50px;
} 

h2 {
    font-size: 2.5rem; 
    color: #34495e; 
    text-align: left;
    font-weight: 700; 
    letter-spacing: 2px; 
    font-family: 'Arial', sans-serif;
    position: relative; 
    margin: 40px 0;
    padding: 10px 20px; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
h4{
    font-family: "Arial", sans-serif;
}

h2::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 5px; 
    background: #3498db; 
    border-radius: 5px;
    width: 100%; 
}

.values-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}


p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #34495e;
}



strong {
    font-weight: bold;
    color: #e74c3c;
}

.value-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    color: #2c3e50;
}

.value-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: #ecf0f1; 
}

.value-item h3 {
    font-size: 1.6em;
    color: #2c3e50;
    margin-top: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
}

.value-item p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px;
}

.after-icon {
    font-size: 40px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.value-item:hover .after-icon {
    transform: scale(1.2); /* Aumenta l'icona al passaggio del mouse */
    color: #3498db; /* Cambia colore dell'icona */
}

.value-item:nth-child(1) {
    background: #3498db; /* Colore per il primo valore */
    color: white;
}

.value-item:nth-child(2) {
    background: #e74c3c; /* Colore per il secondo valore */
    color: white;
}

.value-item:nth-child(3) {
    background: #f39c12; /* Colore per il terzo valore */
    color: white;
}

.value-item:nth-child(4) {
    background: #2ecc71; /* Colore per il quarto valore */
    color: white;
}


/* Media Queries per dispositivi mobili */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una colonna su schermi piccoli */
    }
    .values-list {
        grid-template-columns: 1fr;
    }
}
