<div class="container">
    <h1>Chi Siamo</h1>
    <h2>Cooperativa Sociale tre petali</h2>
    <p>
        La nostra cooperativa sociale è nata con l'obiettivo di offrire <a
            routerLink="/assistenza-domiciliare-lecce" routerLinkActive="active"
            aria-label="Scopri i nostri servizi di assistenza">assistenza a persone vulnerabili</a>,
        promuovendo l'inclusione sociale e il benessere collettivo. Con un approccio centrato sulla persona e
        sul rispetto dei suoi diritti fondamentali, ci impegniamo ogni giorno per migliorare la qualità della
        vita di chi si trova in condizioni di fragilità, offrendo una vasta gamma di <a routerLink="/servizi"
            routerLinkActive="active" aria-label="Scopri i nostri servizi di assistenza">servizi socio-sanitari
            personalizzati</a>.
    </p>

    <h3>Il nostro impegno nella qualità dell'assistenza</h3>
    <p>
        Da anni operiamo nel settore, collaborando con enti pubblici e privati, con una rete di professionisti
        altamente qualificati. La nostra missione è fornire <a routerLink="/assistenza-domiciliare-lecce"
            routerLinkActive="active" aria-label="Scopri i nostri servizi di assistenza">un’assistenza che
            rispetti la dignità delle persone</a>, favorendo la loro autonomia e partecipazione attiva alla vita
        sociale. Ogni servizio è pensato per rispondere alle specifiche esigenze dei singoli, attraverso
        un’attenzione particolare <strong>alla persona, al suo contesto familiare e comunitario</strong>.
    </p>
    <h2>I nostri valori nell'assistenza e nella cura</h2>
    <ul class="values-list">
        <li class="value-item">
            <fa-icon class="after-icon" [icon]="faPeopleArrows"></fa-icon>
            <h4>Solidarietà</h4>
            <p>Lavoriamo per costruire una società più giusta e inclusiva, in cui ogni individuo possa sentirsi
                parte integrante.</p>
        </li>
        <li class="value-item">
            <fa-icon class="after-icon" [icon]="faBalanceScale"></fa-icon>
            <h4>Responsabilità</h4>
            <p>Ci assumiamo l’impegno di garantire servizi di alta qualità, nel pieno rispetto delle normative e
                delle necessità di ogni individuo.</p>
        </li>
        <li class="value-item">
            <fa-icon class="after-icon" [icon]="faLightbulb"></fa-icon>
            <h4>Innovazione</h4>
            <p>Investiamo continuamente in nuove metodologie e tecnologie per migliorare il supporto che offriamo,
                con soluzioni sempre più efficaci.</p>
        </li>
        <li class="value-item">
            <fa-icon class="after-icon" [icon]="faHeart"></fa-icon>
            <h4>Empatia</h4>
            <p>Ascoltiamo e rispondiamo ai bisogni di ogni persona con sensibilità e rispetto, per creare un
                ambiente di cura e fiducia.</p>
        </li>
    </ul>
</div>