<main>
    <section class="hero" role="banner">
      <div class="hero-content">
        <h1>Tre Petali Cooperativa Sociale</h1>
        <p>Siamo qui per offrirti tutte le informazioni necessarie e aiutarti a prendere la decisione migliore.</p>
        <div class="hero-buttons">
          <!-- Pulsante Email con icona -->
          <a href="mailto:info@3petali.com" class="button" aria-label="Contattaci tramite Email">
            <fa-icon [icon]="faEnvelope" class="button-icon"></fa-icon> Email
          </a>
          <!-- Pulsante Telefono con icona -->
          <a href="tel:+39123456789" class="button" aria-label="Contattaci tramite Telefono">
            <fa-icon [icon]="faPhone" class="button-icon"></fa-icon> Telefono
          </a>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="about-content">
          <div class="container1">
              <h2>La Sede in provincia di Lecce</h2>
              <p>La nostra sede principale di <strong>Tre Petali - Assistenza anziani e disabili</strong> si trova in
                  provincia di Lecce, un luogo facilmente accessibile e pensato per offrire supporto di alta qualità e
                  assistenza personalizzata per ogni necessità.</p>
          </div>
          <div class="image-container">
              <img src="https://ma100390.github.io/TrePetalia/assets/sede.webp" 
                  alt="Laboratori Creativi" />
          </div>
      </div>
  </section>
  </main>
  