<main>
    <section class="hero" role="banner">
      <div class="hero-content">
        <h1>Tre Petali Cooperativa Sociale</h1>
        <p>Siamo qui per offrirti tutte le informazioni necessarie e aiutarti a prendere la decisione migliore.</p>
        <div class="hero-buttons">
          <!-- Pulsante Email con icona -->
          <a href="mailto:info@3petali.com" class="button" aria-label="Contattaci tramite Email">
            <fa-icon [icon]="faEnvelope" class="button-icon"></fa-icon> Email
          </a>
          <!-- Pulsante Telefono con icona -->
          <a href="tel:+39123456789" class="button" aria-label="Contattaci tramite Telefono">
            <fa-icon [icon]="faPhone" class="button-icon"></fa-icon> Telefono
          </a>
        </div>
      </div>
    </section>
  </main>
  