

.immagineprofessionale{
  width: 100%;
}
.immagineprofessionale2{
  width: 20%;
}


.hero-buttons1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px; /* Distanza tra immagine e pulsante */
  background: radial-gradient(circle, rgba(0, 140, 255, 0.4), rgba(0, 140, 255, 0));
  
  border-radius: 8px;
}

.immagineprofessionale {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Arrotonda gli angoli dell'immagine */

  transition: transform 0.3s ease-in-out; /* Effetto hover per l'immagine */
}






.lista li {
  color: rgb(26, 22, 22);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;

}

.value-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.value-item fa-icon {
  min-width: 60px;
  margin-right: 12px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}








.cta-button2 {
  display: inline-block;
  background-color: #112e67;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  font-family: 'Poppins', sans-serif;

}

.cta-button2:hover {
  background-color: #4c74e7;
}



h2{
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  font-size: 2.8rem;

  text-align: center;

}


h2 {
  font-size: 2.5rem;
  color: #34495e;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  
  padding: 10px 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

h2::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 5px;
  background: #3498db;
  border-radius: 5px;
  width: 100%;
}

p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #34495e;
}

.value {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #2c3e50;
  text-align: center;
  max-width: 300px;
  margin: 1%;
}

strong {
  font-weight: bold;
  color: #e74c3c;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container1 {
  padding: 8% 20%;
  background-color: antiquewhite;
}

.value:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f1;
}

.value h3 {
  font-size: 1.6em;
  color: #2c3e50;
  margin-top: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.value p {
  text-align: left;
  color: #34495e;
  margin-top: 15px;
}

.after-icon {
  font-size: 40px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}
td .after-icon{
    color: #3498db;
}
.value:hover .after-icon {
  transform: scale(1.1);
  color: #3498db;
}

a{
  text-decoration: none;
}
/* Stile generale */
.contatti {
  background-color: #f8f9fa;
  padding: 50px 20px;
  text-align: center;
}

/* Contenitore principale */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.icon-email {
  color: rgb(5, 5, 66);
}

.icon-phone {
  color: green;
}

/* Titolo della sezione */
.section-header h2 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.section-header p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

/* Orari di apertura */
.orari-container1 {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}



.orari-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.orari-table th,
.orari-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.orari-table th {
  background-color: #112e67;
  color: white;
  font-weight: 700;
}

.orari-table td {
  background-color: #f1f1f1;
}

.orari-table td strong {
  color: #333;
}




.mappa-figure h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #007bff;
  font-family: MyFont1;
  margin: 2rem;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.info-table th, .info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.info-table th {
  background-color: #112e67;
  color: white;
  font-weight: 700;
}

.info-table td {
  background-color: #f1f1f1;
}



.mappa-container {
  margin-top: 20px;
  display: flex;

  justify-content: space-evenly;

}

.mappa-figure {
  position: relative;
  width: 100%;
  max-width: 40%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  gap: 8%;
}

.immagineprofessionale1{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.mappa-container figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 5%;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}

/* Call to Action (CTA) */
.cta-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* Stile della sezione contatti */
.section-contatti {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: #333;
  
  text-align: center;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

/* Stile dell'indirizzo */
address {
  font-style: normal;
  text-align: center;
}
/* Icona telefono */
.phone-icon {
  margin-left: 8px;
  vertical-align: middle;
}






/* Media Queries per dispositivi mobili */







@media (max-width: 1500px) {
  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container1 {
    padding: 5% 0%;
    background-color: antiquewhite;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .value {
    max-width: 100%;
  }



  .section-nostro-team p {
    margin: 1% auto;
  }

  .sedeimage {
    width: 100%;
    border-radius: 5%;
  }





  .immagineprofessionale{
    width: 100%;
  }
  .section-contatti {
    padding: 30px;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .contatti {
    width: 100%;
    justify-content: center;
  }
}


/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .contatti h2 {
    font-size: 28px;
  }
  .orari-table {
    width: 100%;
  }
  .mappa-container img {
    max-width: 100%;
  }
  .container {
    padding: 15px;
  }
  .immagineprofessionale2 {
    width: 100%;
}
  .hero-buttons1{
    align-items:normal;
    justify-content:flex-end;
    flex-direction: column;
  }
  .section-header h2 {
    font-size: 28px;
  }

  .orari-table th,
  .orari-table td {
    padding: 10px;
  }
  .contatti {

    padding: 0px 0px;
  }


  .mappa-container {
    flex-direction: column;
  }

  .mappa-figure {

    max-width: 100%;
  }

  .mappa-container img {
    max-width: 100%;
    border: 1px solid rgba(158, 156, 156, 0.767);
  }
}

