/* background: url('/TrePetalia/assets/porto2.webp') no-repeat center center / cover; 
, url('/TrePetalia/assets/porto2.webp') center/cover no-repeat;*/


.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 6rem;
    border-radius: 16px;
    background: #112e67;
    gap: 2rem; /* Spazio tra il testo e l'immagine */
    flex-wrap: wrap; /* Assicura che gli elementi si dispongano su più righe su schermi piccoli */
}

.container1 {
    max-width: 600px; /* Dimensione regolabile */
    padding: 2rem;

    
   
}

.image-container {
    
    flex: 1;
    text-align: center;
}

.sede-image {
    max-width: 400px; /* Dimensione regolabile */
    width: 75%;
    height: auto;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.about h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    color: #fdfdfd;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #fcf8f8;
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    margin-bottom: 0;
}

 strong {
    color: #b5aa67;

}


/* Sezione Contatti e Orari di Apertura */



span.petali {
    font-size: 3rem;
    color: #2155b4cb;
    letter-spacing: 2px;
    padding: 0.3rem 0rem;
    transition: all 0.3s ease;
    font-family: "Dancing Script";
}

span.petali:hover {
    background-color: #6a94ff;
    color: white;
    cursor: pointer;
}
/* Sezione Storia */
.section-storia {
    background-color: #ffffff;
    padding: 4rem 1rem;
    text-align: center;
    color: #333;
}

.section-storia h2 {
    font-size: 2.4rem;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    color: #2e3b47;
    margin-bottom: 1rem;
}

.section-storia p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto 2rem;
}

.section-storia strong {
    font-weight: bold;
    color: #6a94ff;
}
@media (max-width: 768px) {

 .sede-image {
    
    width: 80%;
 }
 
.image-container {
    padding-bottom: 2rem;
}
.about-content {
    margin: 1rem;
}
.section-nostro-team p {

    margin: 1% auto;
}
}
.hero {
    background-image: linear-gradient(rgb(255 255 255), rgba(255, 248, 248, 0.18)), url('/assets/sfondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0;

}
.section-nostro-team{
    background-image: linear-gradient(rgba(255, 255, 255, 0.158), rgba(255, 248, 248, 0.788)), url('/assets/sfondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0;
}
.section-contatti{
    background-image: linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 248, 248, 0.055)), url('/assets/sfondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0;
}

.hero-content {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); /* Leggero sfondo trasparente sul contenuto */
}

