<main>
    <section class="hero" role="banner">
        <div class="hero-content">

            <h1>
                tre petali
                <span class="subtitle">Assistenza Socio-Sanitaria, Educativa e Riabilitativa</span>
            </h1>
            <div class="hero-buttons">
                <a routerLink="/servizi" class="cta-button"
                    aria-label="Scopri tutti i servizi di assistenza offerti da Tre Petali" routerLinkActive="active">
                    Scopri i nostri servizi
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
                <a routerLink="/contatti-cooperaritiva-tre-petali" routerLinkActive="active" class="cta-button"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Contattaci
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>
        </div>
    </section>


    <div class="grid">
        <div class="card">
            <div class="overlay1">
                <h3 class="subtitle">I nostri servizi per Anziani</h3>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>
            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/sfondo5.webp"
            alt="Laboratori Creativi">
        </div>
        <div class="card">
            <div class="overlay">
                <span class="subtitle">Supporto alle persone fragili</span>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button1"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>
            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/porto2.webp"
                alt="Laboratori Creativi" />
        </div>
        <div class="card">
            <div class="overlay">
                <span class="subtitle">Interventi educativi per famiglie</span>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button1"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>
            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/valori.webp"
                alt="Laboratori Creativi" />
        </div>
        <div class="card">
            <div class="overlay">
                <span class="subtitle">Servizi riabilitativi</span>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button1"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>

            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/salute.webp"
                alt="Laboratori Creativi" />

        </div>
        <div class="card">
            <div class="overlay">
                <span class="subtitle">Assistenza Anziani</span>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button1"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>

            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/presenza4.webp"
                alt="Laboratori Creativi" />

        </div>
        <div class="card">
            <div class="overlay">
                <span class="subtitle">Strutture per Anziani</span>
                <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button1"
                    aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                    Scopri di più
                    <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
                </a>
            </div>

            <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/porto1.webp"
                alt="Laboratori Creativi">

        </div>
     


    </div>
    <div class="container1">
        <h2>I nostri professionisti dell'assistenza</h2>
        <ul class="image-container">
            <li class="value">
                <h3>Assistenti Sociali</h3>
                <fa-icon class="after-icon" [icon]="faUserGraduate"></fa-icon>
                <p> Esperti nell'individuare e valutare i bisogni
                    sociali delle persone, aiutano a orientare e supportare le famiglie nel percorso di
                    assistenza e integrazione, offrendo consulenze e mediazioni con i servizi pubblici e
                    privati.</p>
            </li>
            <li class="value">
                <h3>Operatori Socio-Sanitari</h3>
                <fa-icon class="after-icon" [icon]="faHeartbeat"></fa-icon>
                <p> Professionisti formati per fornire assistenza
                    diretta nelle attività quotidiane, contribuendo al miglioramento delle condizioni di
                    vita degli utenti, sia a domicilio che in strutture residenziali.</p>
            </li>
            <li class="value">
                <h3>Infermiere e Fisioterapisti</h3>
                <fa-icon class="after-icon" [icon]="faStethoscope"></fa-icon>
                <p> Offrono cure sanitarie e monitorano la
                    salute fisica degli assistiti, con un’attenzione particolare alle esigenze dei pazienti
                    fragili e anziani, garantendo un’assistenza continuativa e professionale.</p>
            </li>
            <li class="value">
                <h3>Psicologi e Psicoterapeuti</h3>
                <fa-icon class="after-icon" [icon]="faBrain"></fa-icon>
                <p> Supportano le persone e le famiglie nel
                    superamento delle difficoltà emotive, psicologiche e relazionali, con percorsi
                    terapeutici e consulenze specifiche.</p>
            </li>
            <li class="value">
                <h3>Educatori Professionali</h3>
                <fa-icon class="after-icon" [icon]="faChalkboardTeacher"></fa-icon>
                <p> Contribuiscono alla crescita e al benessere
                    psicologico e educativo di bambini e adulti in difficoltà, sviluppando progetti di
                    educazione e integrazione.</p>
            </li>
            <li class="value">
                <h3>Personale Amministrativo e Logistico</h3>
                <fa-icon class="after-icon" [icon]="faBriefcase"></fa-icon>
                <p> Supporta l’organizzazione e la
                    gestione dei servizi, assicurando che le risorse vengano utilizzate in modo efficiente e
                    che ogni processo sia ottimizzato per offrire il miglior servizio possibile.</p>
            </li>
        </ul>
        <div class="hero-buttons">
            <a routerLink="/servizi" class="cta-button" aria-label="Scopri i nostri servizi di assistenza"
                routerLinkActive="active">Scopri i nostri servizi
                <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
            </a>

        </div>
    </div>






    <section id="contatti" class="section-contatti">
        <h2>Contatti e Orari</h2>
        <p>
            Se hai domande o desideri un servizio della Cooperativa Tre Petali, contattaci.<br> Siamo aperti dal
            lunedì al Sabato, dalle 9:00 alle 18:00.
        </p>
        <address>
            <p>Email: <a href="mailto:info@3petali.it">info&#64;trepetali.it</a></p>
            <p>Telefono: <a href="tel:+390000000000">+39 3701255832</a></p>
            <p>Indirizzo: Via Vescovo Verrienti 2, Veglie (LE)</p>
        </address>
        <a routerLink="/contatti_cooperaritiva-tre-petali" routerLinkActive="active" class="cta-button"
            aria-label="Scopri i nostri servizi di assistenza">Contatti
            <fa-icon [icon]="faPhone" class="phone-icon"></fa-icon>

        </a>
    </section>
</main>