<main>
    <section class="hero" role="banner">
        <div class="hero-content">
            <h1>Cooperativa Sociale Tre Petali</h1>
            <p>Tre Petali è una cooperativa sociale che eroga servizi <strong>socio-sanitari</strong>,
                <strong>educativi</strong> e <strong>riabilitativi</strong>.
            <div class="hero-buttons">
                <a routerLink="/servizi" class="button" aria-label="Scopri i nostri servizi di assistenza">Scopri i
                    nostri
                    servizi <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                <a href="#contact" class="button" aria-label="Contattaci per maggiori informazioni">Contattaci</a>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container1">
            <h2>Chi Siamo</h2>
            <p>La cooperativa sociale <strong>Tre Petali</strong> nasce con l’obiettivo di fornire <strong>assistenza
                    domiciliare per
                    anziani</strong> e <strong>supporto disabili</strong> di alta qualità, offrendo soluzioni
                personalizzate per il benessere fisico e psicologico. Siamo presenti in diverse città e pronti ad
                aiutarvi con un team di esperti dedicati alla vostra salute e qualità di vita.</p>
        </div>
    </section>
    <section id="nostro-team" class="section-nostro-team">
        <h2>La nostra squadra di Professionisti</h2>
        <p>
            La nostra squadra è composta da professionisti altamente qualificati e appassionati, tra cui operatori
            socio-sanitari, infermieri e fisioterapisti tutti dedicati a fornire un'assistenza di qualità ai nostri
            assistiti.
        </p>
        <img src="https://ma100390.github.io/TrePetalia/assets/porto2.webp" alt="Laboratori Creativi" />
        <img src="https://ma100390.github.io/TrePetalia/assets/porto3.webp" alt="Laboratori Creativi" />
        <img src="https://ma100390.github.io/TrePetalia/assets/porto4.webp" alt="Laboratori Creativi" />
        <p>Immagine dei professionisti</p>
    </section>
    <section id="about" class="about">
        <div class="container1">
            <h2>La Sede in provincia di Lecce</h2>
            <p>La cooperativa sociale 3 Petali nasce con l’obiettivo di fornire <strong>assistenza domiciliare per
                    anziani</strong> e <strong>supporto disabili</strong> di alta qualità, offrendo soluzioni
                personalizzate per il benessere fisico e psicologico. Siamo presenti in diverse città e pronti ad
                aiutarvi con un team di esperti dedicati alla vostra salute e qualità di vita.</p>
        </div>
    </section>

    <section id="storia" class="section-storia">
        <h2>Storia della Casa di Riposo 3 Petali</h2>
        <p>
            La <strong>Casa di Riposo 3 Petali</strong> è stata fondata con l'intento di fornire un ambiente di cura e
            supporto per gli anziani. La nostra missione è quella di garantire un'alta qualità di vita per i nostri
            ospiti.
        </p>

    </section>

    <section id="contatti" class="section-contatti">
        <h2>Contatti e Orari di Apertura della Casa di Riposo a Lecce</h2>
        <p>
            Se hai domande o desideri visitare la <strong>Casa di Riposo 3 Petali</strong>, contattaci. Siamo aperti dal
            lunedì alla domenica, dalle 9:00 alle 18:00.
        </p>
        <address>
            <p>Email: <a href="mailto:info@3petali.it">info3petali.it</a></p>
            <p>Telefono: <a href="tel:+390000000000">+39 000 000 000</a></p>
            <p>Indirizzo: Via Esempio 123, Lecce, Italia</p>
            <p><a href="#richiesta-informazioni" class="cta-button">Richiedi una Visita</a></p>
        </address>
    </section>
</main>