<main>
    <section class="hero" role="banner">
        <div class="hero-content">
            <h1>Servizio di trasporto e accompagnamento assistito a Lecce per anziani e disabili</h1>
            <p>
                Offriamo un servizio di trasporto assistito per anziani e persone non autosufficienti,
                garantendo supporto affidabile e professionale in ogni spostamento.
            </p>
            <div class="hero-buttons">
                <a href="#contact" class="cta-button" aria-label="Contattaci per maggiori informazioni">Richiedi
                    Informazioni</a>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="about-content">
            <div class="container1">
                <h2>Cos'è il servizio di accompagnamento assistito per anziani e disabili?</h2>
                <p>
                    Il nostro servizio è pensato per chi necessita di un accompagnamento sicuro e
                    assistito verso ospedali, ambulatori o luoghi di aggregazione sociale.
                    Offriamo supporto per visite mediche, esami diagnostici, dimissioni ospedaliere
                    e altre necessità quotidiane.
                </p>
            </div>
            <div class="image-container">
                <img src="/assets/porto1.webp" class="sede-image" alt="Laboratori Creativi" />
            </div>
        </div>
    </section>

    <section id="services" class="section-card">
        <div class="container">
            <h2 class="titolo-contenitore">Servizi di trasporto e accompagnamento assistito per anziani e disabili a Lecce</h2>
            <ul class="service-list">
                <!-- Accompagnamento per visite mediche -->
                <li class="service-item">
                    <fa-icon [icon]="faStethoscope" class="service-icon"></fa-icon>
                    <h3>Accompagnamento assistito per visite mediche, prelievi e analisi diagnostiche a Lecce</h3>
                    <p>
                        Servizio di trasporto dedicato a chi deve recarsi in ospedale, ambulatorio
                        o presso centri diagnostici, garantendo assistenza completa.
                    </p>
                </li>
                <!-- Accompagnamento a eventi e luoghi di aggregazione -->
                <li class="service-item">
                    <fa-icon [icon]="faUsers" class="service-icon"></fa-icon>
                    <h3>Trasporto e accompagnamento per anziani a eventi sociali e cerimonie</h3>
                    <p>
                        Supportiamo gli anziani nell'accompagnamento a cerimonie, eventi
                        o incontri sociali, promuovendo la socialità in sicurezza.
                    </p>
                </li>


                <!-- Ritorno a casa post dimissioni -->
                <li class="service-item">
                    <fa-icon [icon]="faHome" class="service-icon"></fa-icon>
                    <h3>Accompagnamento per il ritorno a casa dopo dimissioni ospedaliere da Lecce o Copertino</h3>
                    <p>
                        Dopo le dimissioni dall'ospedale, offriamo un trasporto sicuro e assistito
                        per il rientro a casa, con mezzi attrezzati per persone non autosufficienti.
                    </p>
                </li>
                <!-- Trasporto assistito -->
                <li class="service-item">
                    <fa-icon [icon]="faCarSide" class="service-icon"></fa-icon>
                    <h3>Servizio di trasporto assistito con veicoli attrezzati per disabili e anziani</h3>
                    <p>
                        Disponiamo di veicoli attrezzati per il trasporto di disabili e anziani,
                        con operatori qualificati che garantiscono trasferimenti confortevoli e sicuri.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <section id="faq" class="section-faq">
        <h2>FAQ: Risposte sul nostro servizio di trasporto e accompagnamento a Lecce</h2>
        <ul class="faq-list">
          <li class="faq-item" *ngFor="let question of questions; let i = index">
            <button 
              class="faq-question" 
              [ngClass]="{'open': question.showAnswer}" 
              (click)="toggleAnswer(i)">
              <h3>{{ question.question }}</h3>
            </button>
            <p *ngIf="question.showAnswer" class="faq-answer">
              {{ question.answer }}
            </p>
          </li>
        </ul>

      </section>
      <section id="contatti" class="section-contatti">
        <h2>Contatti e Orari di Apertura della Casa di Riposo a Lecce</h2>
        <p>
            Se hai domande o desideri visitare la Casa di Riposo 3 Petali, contattaci. Siamo aperti dal
            lunedì alla domenica, dalle 9:00 alle 18:00.
        </p>
        <address>
            <p>Email: <a href="mailto:info@3petali.it">info3petali.it</a></p>
            <p>Telefono: <a href="tel:+390000000000">+39 000 000 000</a></p>
            <p>Indirizzo: Via Esempio 123, Lecce, Italia</p>
        </address>
        <div class="hero-buttons">
            <a href="#richiesta-informazioni" class="cta-button">Richiedi una Visita <fa-icon [icon]="faArrowRight"
                    class="arrow-icon"></fa-icon></a>
            </div>
    </section>
</main>