main{
  padding: 2%;
}
.hero-content {
  margin: 0 auto;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
}

.call-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.call-button:hover {
  background-color: #0056b3;
}

/* Stile per dispositivi mobili */
@media (max-width: 768px) {
  .services-grid {
    display: block;
    width: 100%;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
  }
}
