<main>
  <section class="hero" role="banner">
    <div class="hero-content">

        <h1>
            I servizi 
            <span class="subtitle">Assistenza Socio-Sanitaria, Educativa e Riabilitativa</span>
        </h1>
        <div class="hero-buttons">
     
            <a routerLink="/contatti-cooperaritiva-tre-petali" routerLinkActive="active" class="cta-button"
                aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                Contattaci
                <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
            </a>
        </div>
    </div>
</section>
  <div class="grid">
    <div class="card">
        <div class="overlay1">
            <h1 class="subtitle">I nostri servizi di assistenza</h1>
            <a routerLink="/servizi-per-anziani-lecce" routerLinkActive="active" class="cta-button"
                aria-label="Contatta Tre Petali per informazioni sui servizi di assistenza">
                Contattaci
                <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
            </a>
        </div>
        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/sfondo5.webp"
            alt="Laboratori Creativi">
           
    </div>
    <div class="card">
        <div class="overlay">
          <div class="card-icon"><fa-icon [icon]="faHome" class="service-icon"></fa-icon></div>
            <span class="subtitle">Struttura residenziale per anziani con assistenza 24/7</span>
            <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
                aria-label="Chiama Casa di Riposo">
                Chiama Ora
                <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
            </a>
        </div>
        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/chi-siamo/cooperativa-tre-petali.webp"
            alt="Laboratori Creativi" />
          
    </div>
    <div class="card">
        <div class="overlay">
          <div class="card-icon"><fa-icon [icon]="faBrain" class="service-icon"></fa-icon></div>
            <span class="subtitle">Interventi educativi personalizzati per famiglie</span>
            <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
            aria-label="Chiama Casa di Riposo">
            Chiama Ora
            <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
        </a>
        </div>
        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/chi-siamo/cooperativa-tre-petali-sociale.webp"
            alt="Laboratori Creativi" />
    </div>
    <div class="card">
        <div class="overlay">
          <div class="card-icon"><fa-icon [icon]="faHandsHelping" class="service-icon"></fa-icon></div>
            <span class="subtitle">Supporto assistenziale e infermieristico a domicilio</span>
            <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
            aria-label="Chiama Casa di Riposo">
            Chiama Ora
            <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
        </a>
        </div>

        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/salute.webp"
            alt="Laboratori Creativi" />

    </div>
    <div class="card">
        <div class="overlay">
          <div class="card-icon"><fa-icon [icon]="faHouseUser" class="service-icon"></fa-icon></div>
            <span class="subtitle">Assistenza Domiciliare personalizzato per Anziani</span>
            <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
            aria-label="Chiama Casa di Riposo">
            Chiama Ora
            <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
        </a>
        </div>

        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/presenza4.webp"
            alt="Laboratori Creativi" />

    </div>
    <div class="card">
        <div class="overlay">
          <div class="card-icon"><fa-icon [icon]="faCar" class="service-icon"></fa-icon></div>
            <span class="subtitle">Trasporto in Struttura Ospedaliera in Regione Puglia</span>
            <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
            aria-label="Chiama Casa di Riposo">
            Chiama Ora
            <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
        </a>
        </div>

        <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/porto1.webp"
            alt="Laboratori Creativi">

    </div>
    <div class="card">
      <div class="overlay">
        <div class="card-icon"><fa-icon [icon]="faFileAlt" class="service-icon"></fa-icon></div>
          <span class="subtitle">Disbrigo Pratiche Amministrative</span>
          <a href="tel:+393331234567" routerLinkActive="active" class="cta-button1"
          aria-label="Chiama la Cooperativa Tre Petali">
          Chiama Ora
          <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
      </a>
      </div>

      <img class="immagine1" src="https://ma100390.github.io/TrePetalia/assets/disbrigo-pratiche-lecce.webp"
          alt="Laboratori Creativi">

  </div>
  </div>


</main>
