<header>
  <nav class="navbar">
    <a routerLink="/" title="Vai alla pagina Home" aria-label="Vai alla pagina Home" class="logo">Tre Petali</a>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/" title="Vai alla pagina Home" aria-label="Vai alla pagina Home"
          (click)="closeMenu()">Home</a></li>

      <li><a routerLink="/casa-di-riposo-provincia-di-lecce" title="Vai alla pagina aree intervento"
          aria-label="Vai alla pagina aree intervento" (click)="closeMenu()">Casa di Riposo</a></li>
      <li><a routerLink="/assistenza-domiciliare-lecce" title="Vai alla pagina laboratori creativi"
          aria-label="Vai alla pagina progetti psicologici" (click)="closeMenu()">Assistenza Domiciliare</a></li>

      <li><a routerLink="/accompagnamento-strutture-lecce" title="Vai alla pagina contatti"
          aria-label="Vai alla pagina contatti" (click)="closeMenu()">Accompagnamento</a></li>

          <li >
            <span (click)="toggleDropdown()" title="Vai alla pagina dei servizi" aria-label="Vai alla pagina dei servizi">
              Altri Servizi
              <fa-icon class="after-icon" [icon]="faCaretDown"></fa-icon>
            </span>
          
            <!-- Lista dei servizi, mostrata solo se 'isDropdownOpen' è true -->
            <ul *ngIf="isDropdownOpen" class="dropdown-menu">
              <li><a [routerLink]="['/servizio', 'Infermieri']" (click)="closeMenu()" (click)="toggleDropdown()">- Infermieri</a></li>
              <li><a [routerLink]="['/servizio', 'Fisioterapisti']" (click)="closeMenu()" (click)="toggleDropdown()">- Fisioterapisti</a></li>
              <li><a [routerLink]="['/servizio', 'Psicologo']" (click)="closeMenu()" (click)="toggleDropdown()">- Psicologo</a></li>
              <li><a [routerLink]="['/servizio', 'Psicoterapeuta']" (click)="closeMenu()" (click)="toggleDropdown()">- Psicoterapeuta</a></li>
              <li><a [routerLink]="['/servizio', 'Disbrigo-pratiche']" (click)="closeMenu()" (click)="toggleDropdown()">- Disbrigo pratiche</a></li>
            </ul>
       
      <li><a routerLink="/contatti_cooperaritiva-tre-petali" title="Vai alla pagina contatti"
          aria-label="Vai alla pagina contatti" (click)="closeMenu()">Contatti</a></li>
    </ul>

    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>