<header>
  <nav class="navbar">
    <div class="logo"><a routerLink="/" title="Vai alla pagina Home" aria-label="Vai alla pagina Home" class="logo">
        <img src="https://ma100390.github.io/TrePetalia/assets/prova2.svg" class="sede-image"
          alt="Laboratori Creativi" /><div class="logo1"><span class="nascondere">tre petali</span><span class="nascondere1">COOPERATIVA SOCIALE</span></div></a>
    </div>


    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/" title="Vai alla pagina Home" aria-label="Vai alla pagina Home"
          (click)="closeMenu()">Home</a></li>
      <li><a routerLink="chi-siamo-tre-petali-lecce" (click)="closeMenu()">
          Chi Siamo</a></li>
      <li><a routerLink="/casa-di-riposo-provincia-di-lecce" title="Vai alla pagina aree intervento"
          aria-label="Vai alla pagina aree intervento" (click)="closeMenu()">Casa di Riposo</a></li>
      <li><a routerLink="/assistenza-domiciliare-lecce" title="Vai alla pagina laboratori creativi"
          aria-label="Vai alla pagina progetti psicologici" (click)="closeMenu()">Assistenza Domiciliare</a></li>
          <li><a routerLink="/contatti-cooperaritiva-tre-petali" title="Vai alla pagina contatti"
            aria-label="Vai alla pagina contatti" (click)="closeMenu()" >Contatti</a></li>
      <span class="altriServizi" (click)="toggleDropdown()" title="Vai alla pagina dei servizi" aria-label="Vai alla pagina dei servizi">
        Altri Servizi
        <fa-icon class="after-icon" [icon]="faCaretDown"></fa-icon>
      </span>

      <!-- Lista dei servizi, mostrata solo se 'isDropdownOpen' è true -->
      <ul *ngIf="isDropdownOpen" class="dropdown-menu">
        <li><a [routerLink]="['/servizio', 'Infermieri-Fisioterapisti']" (click)="closeMenu()" (click)="toggleDropdown()">
            Infermieri & Fisioterapisti  <fa-icon class="after-icon1" [icon]="faCaretRight"></fa-icon></a></li>
        <li><a [routerLink]="['/servizio', 'Psicologo-Psicoterapeuta']" (click)="closeMenu()" (click)="toggleDropdown()">
            Psicologi & Psicoterapeuti  <fa-icon class="after-icon1" [icon]="faCaretRight"></fa-icon></a></li>
            <li><a routerLink="/accompagnamento-strutture-lecce" title="Vai alla pagina contatti"
              aria-label="Vai alla pagina contatti" (click)="closeMenu()" (click)="toggleDropdown()">
              Accompagnamento in Struttura Ospedaliera  <fa-icon class="after-icon1" [icon]="faCaretRight"></fa-icon></a></li>
            <li><a [routerLink]="['/servizio', 'Disbrigo-pratiche']" (click)="closeMenu()" (click)="toggleDropdown()">
              Disbrigo Pratiche  <fa-icon class="after-icon1" [icon]="faCaretRight"></fa-icon></a></li>
      </ul>


    </ul>

    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>