<main>
    <section class="hero" role="banner">
        <div class="hero-content">
            <h1>Casa di Riposo per Anziani<br>Autosufficienti a Lecce</h1>
            <p>Una struttura residenziale per garantire indipendenza, comfort e socializzazione agli anziani autosufficienti.</p>
            <div class="hero-buttons">
                <a href="#contact" class="cta-button" aria-label="Contattaci per maggiori informazioni">Richiedi una
                    Visita <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="about-content">
            <div class="container1">
            <h2>Cos'è il Gruppo Appartamento</h2>
            <p>Il Gruppo Appartamento è una struttura residenziale composta da camere singole e doppie, pensata per anziani autosufficienti. Offre comfort abitativo, servizi di supporto e favorisce l’autonomia e i rapporti sociali.</p>
        </div>
        <div class="image-container">
            <img src="/assets/porto1.webp" class="sede-image"
                alt="Laboratori Creativi" />
        </div>
        </div>
    </section>

    <section id="services" class=" section-nostro-team bg-light">
        <div class="container">
            <h2>Servizi Offerti</h2>
            <div class="service-list">
                <div class="service-card">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    <h3>Animazione e occupazione del tempo libero</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faUtensils"></fa-icon>
                    <h3>Servizio alberghiero e di ristorazione</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faPills"></fa-icon>
                    <h3>Supporto per prenotazioni farmaci e visite</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
                    <h3>Servizio di volontariato</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faBed"></fa-icon>
                    <h3>Letti elettrici</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faBroom"></fa-icon>
                    <h3>Servizio di pulizia giornaliero</h3>
                  </div>
                  <div class="service-card">
                    <fa-icon [icon]="faTshirt"></fa-icon>
                    <h3>Lavanderia</h3>
                  </div>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="about-content">
            <div class="container1">
            <h2>Modalità di ingresso</h2>
            <p>Per l’ammissione nel Gruppo Appartamento, l’interessato deve inoltrare una domanda alla Fondazione Casa Serena, con la documentazione richiesta.</p>
            <h3>Documentazione richiesta:</h3>
            <ul>
                <li>Certificazione del medico curante attestante lo stato di autosufficienza</li>
                <li>Ulteriori documenti indicati nel modello allegato</li>
            </ul>
            <a href="#" class="btn">Scarica la domanda di ammissione</a>
        </div>
        <div class="image-container">
            <img src="https://ma100390.github.io/TrePetalia/assets/struttura2.webp" class="sede-image"
                alt="Laboratori Creativi" />
        </div>
        </div>
    </section>



    <!-- <section id="services" class="services" aria-labelledby="services-heading">
        <div class="container3">
            <h2 id="services-heading">I Nostri Servizi per Anziani nella Casa di Riposo a Lecce</h2>
            <div class="service-cards">
                <article class="service-card">
                    <h3>Assistenza Anziani 24/7</h3>
                    <h4>Descrizione</h4>
                    <p>3 Petali offre <strong>assistenza per anziani autosufficienti</strong>, garantendo supporto
                        qualificato per una vita sicura e dignitosa a casa.</p>
                    <h5>Vantaggi</h5>
                    <ul>
                        <li>Supporto personalizzato basato sulle esigenze individuali.</li>
                        <li>Maggiore indipendenza per gli anziani.</li>
                        <li>Interventi rapidi in caso di emergenze.</li>
                    </ul>
                    <a href="#contact" class="cta-button"
                        aria-label="Richiedi assistenza per assistenza domiciliare">Richiedi una Visita <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                </article>

                <article class="service-card">
                    <h3>Supporto Psicologico nella Casa di Riposo</h3>
                    <h4>Descrizione</h4>
                    <p>I nostri psicologi offrono <strong>supporto emotivo</strong> per anziani e persone
                        che attraversano momenti difficili.</p>
                    <h5>Modalità di Intervento</h5>
                    <ul>
                        <li>Colloqui individuali settimanali.</li>
                        <li>Supporto per la gestione dello stress e delle emozioni.</li>
                        <li>Attività di gruppo per favorire la socializzazione.</li>
                    </ul>
                    <a href="#contact" class="cta-button" aria-label="Richiedi assistenza per supporto psicologico">Richiedi
                        una Visita <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                </article>

                <article class="service-card">
                    <h3>Servizi di Fisioterapia nella Casa di Riposo</h3>
                    <h4>Descrizione</h4>
                    <p>Proponiamo <strong>servizi di riabilitazione e fisioterapia per anziani</strong> e disabili,
                        direttamente nella Struttura. Offriamo trattamenti personalizzati per migliorare la mobilità e
                        la
                        qualità della vita.</p>
                    <h5>Tipologie di Trattamento</h5>
                    <ul>
                        <li>Fisioterapia ortopedica.</li>
                        <li>Riabilitazione post-operatoria.</li>
                        <li>Trattamenti per migliorare la mobilità.</li>
                    </ul>
                    <a href="#contact" class="cta-button"
                        aria-label="Richiedi assistenza per servizi di fisioterapia">Richiedi una Visita <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                </article>

                <article class="service-card">
                    <h3>Psicodiagnostica e Benessere</h3>
                    <h4>Descrizione</h4>
                    <p>Grazie a un team di professionisti, offriamo servizi di <strong>psicodiagnostica</strong> per
                        un'assistenza mirata e completa, permettendo alle famiglie di comprendere meglio le necessità
                        dei loro cari.</p>
                    <h5>Servizi Offerti</h5>
                    <ul>
                        <li>Valutazioni psicologiche complete.</li>
                        <li>Supporto nella gestione delle problematiche emotive.</li>
                        <li>Consulenze per le famiglie.</li>
                    </ul>
                    <a href="#contact" class="cta-button" aria-label="Richiedi assistenza per psicodiagnostica">Richiedi
                        Informazioni <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                </article>
                <article class="service-card">
                    <h3>Programmi di Nutrizione per Anziani a Lecce</h3>
                    <h4>Descrizione</h4>
                    <p>
                        Presso la <strong>Casa di Riposo 3 Petali</strong>, ci impegniamo a offrire piani nutrizionali
                        personalizzati per garantire che i nostri ospiti ricevano una dieta equilibrata e sana, adattata
                        alle loro
                        esigenze specifiche.
                    </p>
                    <h5>Servizi Offerti</h5>
                    <ul>
                        <li>Piani nutrizionali personalizzati basati sulle condizioni di salute individuali.</li>
                        <li>Supporto per diete speciali, come diete a basso contenuto di sodio o per diabetici.</li>
                        <li>Monitoraggio periodico dello stato nutrizionale e delle preferenze alimentari.</li>
                    </ul>
                    <a href="#contact" class="cta-button"
                        aria-label="Richiedi informazioni sui programmi di nutrizione">Richiedi
                        Informazioni <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon></a>
                </article>
            </div>
        </div>
    </section> -->

    <section id="galleria" class="section-nostro-team">
        <h2>Galleria Fotografica della Casa di Riposo a Lecce</h2>
        <p>
            Scopri attraverso le immagini la vita quotidiana nella <strong>Casa di Riposo 3 Petali</strong> e partecipa
            alle nostre attività ricreative.
        </p>
        <div class="galleria-foto">
            <img src="/assets/porto1.webp" alt="Attività Ricreativa" />
            <img src="/assets/porto2.webp" alt="Visita degli Ospiti" />
            <img src="/assets/porto3.webp" alt="Laboratori Creativi" />
        </div>
    </section>
    <section id="faq" class="section-faq">
        <h2>Domande Frequenti (FAQ)</h2>
        <ul class="faq-list">
            <li>
                <strong>Quali tipi di assistenza offre la Casa di Riposo 3 Petali per anziani e persone non autosufficienti?</strong>
                <p>La nostra struttura offre un'ampia gamma di servizi per garantire il benessere e la qualità della vita dei nostri ospiti. Disponiamo di assistenza infermieristica 24/7, supporto per le attività quotidiane, programmi di riabilitazione fisioterapica, supporto psicologico personalizzato e attività ricreative e sociali per mantenere attivo il legame con la comunità.</p>
            </li>
            <li>
                <strong>Come posso prenotare una visita per conoscere i nostri servizi da vicino?</strong>
                <p>Siamo sempre aperti e felici di accogliere visite su appuntamento. Basta contattarci telefonicamente o via email per prenotare una visita guidata alla nostra struttura. Durante il tour, avrai modo di conoscere il nostro staff e di vedere le nostre aree comuni, le stanze degli ospiti e i nostri spazi dedicati alle attività ricreative.</p>
            </li>
            <li>
                <strong>Qual è il costo dei servizi e come posso ricevere un preventivo personalizzato?</strong>
                <p>I costi dei nostri servizi variano in base alle esigenze specifiche di ciascun ospite e alla durata del soggiorno. Per offrire una stima accurata e un piano di assistenza personalizzato, ti invitiamo a fissare un colloquio con noi o a richiedere un preventivo senza impegno. Siamo disponibili a trovare la soluzione più adatta alle tue necessità.</p>
            </li>
            <li>
                <strong>Quali attività ricreative offrite per favorire il benessere degli ospiti?</strong>
                <p>Oltre alla cura medica e assistenziale, ci impegniamo a garantire una vita attiva e stimolante per i nostri ospiti. Organizziamo attività come laboratori creativi, corsi di ginnastica dolce, momenti di socializzazione, passeggiate all’aperto e letture collettive. Il nostro obiettivo è mantenere vive le passioni e interessi di ciascun ospite.</p>
            </li>
            <li>
                <strong>È possibile avere diete personalizzate o piani nutrizionali specifici?</strong>
                <p>Assolutamente sì. Collaboriamo con nutrizionisti per creare piani alimentari su misura che rispettino le condizioni di salute e le preferenze personali di ogni ospite. Offriamo opzioni per diete speciali, come diete ipocaloriche, per diabetici, e a basso contenuto di sodio, per favorire il benessere dei nostri ospiti.</p>
            </li>
        </ul>
    </section>
    <section id="contatti" class="section-contatti">
        <h2>Contatti e Orari di Apertura della Casa di Riposo a Lecce</h2>
        <p>
            Se hai domande o desideri visitare la Casa di Riposo 3 Petali, contattaci. Siamo aperti dal
            lunedì alla domenica, dalle 9:00 alle 18:00.
        </p>
        <address>
            <p>Email: <a href="mailto:info@3petali.it">info3petali.it</a></p>
            <p>Telefono: <a href="tel:+390000000000">+39 000 000 000</a></p>
            <p>Indirizzo: Via Esempio 123, Lecce, Italia</p>
        </address>
        <div class="hero-buttons">
            <a href="#richiesta-informazioni" class="cta-button">Richiedi una Visita <fa-icon [icon]="faArrowRight"
                    class="arrow-icon"></fa-icon></a>
            </div>
    </section>
</main>