<footer class="footer">
    <div class="footer-container">
      <div class="footer-center">
        <p>Seguici su:</p>
        <div class="social-links">
            <a href="https://facebook.com/3petali" target="_blank" aria-label="Facebook">
              <fa-icon [icon]="faSquareFacebook" class="social-icon"></fa-icon>
            </a>
            <a href="https://instagram.com/3petali" target="_blank" aria-label="Instagram">
              <fa-icon [icon]="faInstagram" class="social-icon"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/company/tre-petali-societ%C3%A0-cooperativa-sociale/" target="_blank" aria-label="LinkedIn">
              <fa-icon [icon]="faLinkedin" class="social-icon"></fa-icon>
            </a>
          </div>
        </div>
      <div class="footer-right">
        <p>&copy; 2024 Tre Petali. Tutti i diritti riservati.</p>
      </div>
    </div>
  </footer>
  