<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <section class="footer-legal">
          <p><strong>Iscrizione presso il registro delle imprese di Lecce:</strong><br> P.Iva: 04859100754</p>
          <p><strong>Numero R.E.A.:</strong> 323811</p>
          <p><strong>Iscrizione Albo Cooperative e Mutualità Prevalente:</strong> C121127</p>
          <p><strong>Sede legale:</strong> Via Vescovo Verrienti, 2, 73010 Veglie (LE) – 73010</p>
        </section>
       
      </div>
      <div class="footer-center">
        <p>Seguici su:</p>
        <div class="social-links">
            <a href="https://facebook.com/3petali" target="_blank" aria-label="Facebook">
              <fa-icon [icon]="faSquareFacebook" class="social-icon"></fa-icon>
            </a>
            <a href="https://twitter.com/3petali" target="_blank" aria-label="Twitter">
              <fa-icon [icon]="faTwitter" class="social-icon"></fa-icon>
            </a>
            <a href="https://instagram.com/3petali" target="_blank" aria-label="Instagram">
              <fa-icon [icon]="faInstagram" class="social-icon"></fa-icon>
            </a>
            <a href="https://linkedin.com/company/3petali" target="_blank" aria-label="LinkedIn">
              <fa-icon [icon]="faLinkedin" class="social-icon"></fa-icon>
            </a>
          </div>
        </div>
      <div class="footer-right">
        <p>&copy; 2024 Tre Petali. Tutti i diritti riservati.</p>
      </div>
    </div>
  </footer>
  