<main>
    <section class="hero" role="banner">
        <div class="hero-content">
            <h1>Assistenza per Anziani in provincia di Lecce</h1>
            <p> Offriamo un servizio di assistenza per anziani e persone non autosufficienti,
                garantendo supporto affidabile e professionale in ogni ambiente.</p>
            <div class="hero-buttons">
                <a routerLink="/servizi" class="button" aria-label="Scopri i nostri servizi di assistenza">Scopri i
                    nostri
                    servizi</a>
                <a href="#contact" class="button" aria-label="Contattaci per maggiori informazioni">Contattaci</a>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="about-content">
            <div class="container1">
                <h2>Cos'è il servizio di assistenza domiciliare per anziani e disabili?</h2>
                <p>L'assistenza domiciliare per persone anziane e con difficoltà motorie o cognitive è un servizio
                    dedicato
                    che fornisce supporto personalizzato per gestire le attività quotidiane nel comfort della propria
                    casa.
                </p>
            </div>
            <div class="image-container">
                <img src="https://ma100390.github.io/TrePetalia/assets/porto1.webp" class="sede-image"
                    alt="Laboratori Creativi" />
            </div>
        </div>
    </section>

    <section id="services" class="section-card">
        <div class="container">
            <h2 class="titolo-contenitore">Servizi di Assistenza Domiciliare per anziani e disabili in provincia Lecce
            </h2>
            <ul class="service-list">
                <li class="service-item">
                    <fa-icon [icon]="faUserCheck" class="service-icon"></fa-icon>
                    <h3>Aiutare la persona anziana nel processo di autonomia.</h3>
                    <p>
                        Offriamo supporto per l'igiene personale (bagno assistito, vestizione) e l'assistenza nella
                        mobilità. In questo modo, aiutiamo la persona anziana a mantenere la propria indipendenza nelle
                        attività quotidiane.
                    </p>
                </li>
                <li class="service-item">
                    <fa-icon [icon]="fausers" class="service-icon"></fa-icon>
                    <h3><i class="fas fa-users"></i> Prevenire e contrastare situazioni di isolamento sociale.</h3>
                    <p>
                        Promuoviamo la socializzazione e il coinvolgimento, offrendo supporto psicologico e assistenza
                        nelle relazioni sociali, in modo da ridurre il rischio di solitudine e isolamento.
                    </p>
                </li>
                <li class="service-item">
                    <fa-icon [icon]="fahandshelping" class="service-icon"></fa-icon>
                    <h3><i class="fas fa-hands-helping"></i> Fornire sostegno e sollievo alla famiglia, che ha l’onere
                        assistenziale di una persona con ridotta autonomia.</h3>
                    <p>
                        Offriamo un supporto pratico e emotivo alla famiglia, includendo attività come la
                        somministrazione di farmaci, medicazioni e supporto nelle necessità quotidiane, come cucinare,
                        fare la spesa e pulire.
                    </p>
                </li>
                <li class="service-item">
                    <fa-icon [icon]="faHome" class="service-icon"></fa-icon>
                    <h3><i class="fas fa-home"></i> Mantenere l’anziano presso il proprio domicilio, conservandone le
                        abitudini e le relazioni sociali.</h3>
                    <p>
                        Ci occupiamo di supportare l'anziano con l'assistenza domiciliare, garantendo il mantenimento
                        delle sue abitudini e relazioni sociali, in un ambiente che conosce e si sente sicuro.
                    </p>
                </li>
                <li class="service-item">
                    <fa-icon [icon]="faHeart" class="service-icon"></fa-icon>
                    <h3>Migliorare la qualità della vita degli anziani.</h3>
                    <p>
                        Offriamo servizi di fisioterapia e riabilitazione, oltre a fornire il supporto necessario per
                        migliorare la qualità della vita, favorendo l'autosufficienza e la mobilità nella vita
                        quotidiana.
                    </p>
                </li>
            </ul>
        </div>
    </section>



    <section id="faq" class="section-faq">
        <h2>FAQ: Risposte sul nostro servizio di assistenza domiciliare a Lecce</h2>
        <ul class="faq-list">
            <li class="faq-item" *ngFor="let question of questions; let i = index">
                <button class="faq-question" [ngClass]="{'open': question.showAnswer}" (click)="toggleAnswer(i)">
                    <h3>{{ question.question }}</h3>
                </button>
                <p *ngIf="question.showAnswer" class="faq-answer">
                    {{ question.answer }}
                </p>
            </li>
        </ul>

    </section>
    <section id="contatti" class="section-contatti">
        <h2>Contatti e Orari di Apertura della Cooperativa Sociale Tre Petali in Provincia di Lecce</h2>
        <p>
            Se hai domande sul Servizio di Assistenza Domiciliare Tre Petali, contattaci. Siamo aperti dal
            lunedì al Venerdi, dalle 9:00 alle 18:00.
        </p>
        <address>
            <p>Email: <a href="mailto:info@3petali.it">info3petali.it</a></p>
            <p>Telefono: <a href="tel:+390000000000">+39 000 000 000</a></p>
            <p>Indirizzo: Via Esempio 123, Lecce, Italia</p>
        </address>
        <div class="hero-buttons">
            <a href="#richiesta-informazioni" class="cta-button">Richiedi una Visita <fa-icon [icon]="faArrowRight"
                    class="arrow-icon"></fa-icon></a>
        </div>
    </section>
</main>