
<section id="projects" class="projects">
    <div class="container3">
        <h2>Servizi di Assistenza e Supporto Sanitario</h2>
        <p>La cooperativa <strong>3 Petali</strong> offre una vasta gamma di servizi per il supporto e il benessere di anziani, disabili e persone con necessità di assistenza, garantendo cure personalizzate e un sostegno professionale di alta qualità.</p>

        <div class="project-list">
            <article class="project-item">
                <h3>Assistenza Domiciliare</h3>
                <p>Il nostro servizio di <strong>assistenza domiciliare</strong> è pensato per fornire supporto pratico e emotivo a domicilio, con professionisti qualificati che si prendono cura delle esigenze quotidiane dei nostri utenti, assicurando loro comfort e sicurezza.</p>
            </article>
            <article class="project-item">
                <h3>Assistenza Sanitaria Domiciliare</h3>
                <p>Con il nostro servizio di <strong>assistenza sanitaria domiciliare</strong>, offriamo cure mediche a domicilio, supporto medico continuo e assistenza nelle terapie, per garantire la salute dei nostri utenti nel comfort della propria abitazione.</p>
            </article>
            <article class="project-item">
                <h3>Assistenza Ospedaliera</h3>
                <p>Offriamo anche <strong>assistenza ospedaliera</strong>, accompagnando e supportando i pazienti durante la degenza ospedaliera con assistenti qualificati e infermieri, per agevolare il recupero e fornire un aiuto professionale in ogni momento.</p>
            </article>
            <article class="project-item">
                <h3>Assistenza Infermieristica</h3>
                <p>Il nostro team di <strong>infermieri professionisti</strong> fornisce <strong>assistenza infermieristica domiciliare</strong>, comprendendo medicazioni, gestione delle terapie e monitoraggio delle condizioni di salute, per offrire un supporto completo e di qualità a chi ne ha bisogno.</p>
            </article>
        </div>
    </div>
</section>
<section id="faq" class="section-faq">
    <h2>Domande Frequenti (FAQ)</h2>
    <ul>
        <li><strong>Quali servizi offre la Casa di Riposo 3 Petali?</strong> Offriamo assistenza 24 ore su 24, attività ricreative, supporto medico e psicologico e molto altro.</li>
        <li><strong>Come posso visitare la casa di riposo?</strong> Contattaci per prenotare una visita. Siamo aperti tutti i giorni.</li>
        <li><strong>Qual è il costo dell'assistenza?</strong> I costi variano a seconda dei servizi richiesti. Ti invitiamo a contattarci per informazioni dettagliate.</li>
    </ul>
</section>